


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">

    </a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
  
      </ul>
      <ul class="navbar-nav d-flex flex-row ms-auto me-3">
        <li class="nav-item">
          <a
          routerLink="/cart"
          class="border rounded py-1 px-3 nav-link d-flex align-items-center"
      
        >
          <i class="fas fa-shopping-cart m-1 me-md-2"></i>
          <p class="d-none d-md-block mb-0">My cart</p>
        </a>
      </li>
        <li class="nav-item me-3 me-lg-0 dropdown">
          <a class="nav-link " (click)="deconnexion()" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
            aria-expanded="false">
            Déconnexion
          </a>
    
        </li>
        
      </ul>
    </div>
  </div>
</nav>







<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <button
          class="btn btn-outline-secondary mb-3 w-100 d-lg-none"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span>Show filter</span>
        </button>

        <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item"></div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button text-dark bg-light"
                  type="button"
                  data-mdb-toggle="collapse"
                  data-mdb-target="#panelsStayOpen-collapseTwo"
                  aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseTwo"
                >
                  Brands
                </button>
              </h2>
              <div
                id="panelsStayOpen-collapseTwo"
                class="accordion-collapse collapse show"
                aria-labelledby="headingTwo"
              >
                <div class="accordion-body">
                  <div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked1"
                        checked
                      />
                      <label class="form-check-label" for="flexCheckChecked1"
                        >Mercedes</label
                      >
                      <span class="badge badge-secondary float-end">120</span>
                    </div>

                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked2"
                        checked
                      />
                      <label class="form-check-label" for="flexCheckChecked2"
                        >Toyota</label
                      >
                      <span class="badge badge-secondary float-end">15</span>
                    </div>

                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked3"
                        checked
                      />
                      <label class="form-check-label" for="flexCheckChecked3"
                        >Mitsubishi</label
                      >
                      <span class="badge badge-secondary float-end">35</span>
                    </div>

                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked4"
                        checked
                      />
                      <label class="form-check-label" for="flexCheckChecked4"
                        >Nissan</label
                      >
                      <span class="badge badge-secondary float-end">89</span>
                    </div>

                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault"
                        >Honda</label
                      >
                      <span class="badge badge-secondary float-end">30</span>
                    </div>

                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                      <label class="form-check-label" for="flexCheckDefault"
                        >Suzuki</label
                      >
                      <span class="badge badge-secondary float-end">30</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <div
                id="panelsStayOpen-collapseFive"
                class="accordion-collapse collapse show"
                aria-labelledby="headingThree"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
          <strong class="d-block py-2">{{voitures.length}} Items found </strong>
        </header>
        <div  *ngFor="let v of voitures" class="row justify-content-center mb-3">
          <div class="col-md-12">
            <div class="card shadow-0 border rounded-3">
              <div class="card-body">
                <div class="row g-0">
                  <div class="col-xl-3 col-md-4 d-flex justify-content-center">
                    <div
                      class="bg-image hover-zoom ripple rounded ripple-surface me-md-3 mb-3 mb-md-0"
                    >
                      <img
                        [src]=v.img
                        class="w-100"
                      />
                      <a href="#!">
                        <div class="hover-overlay">
                          <div
                            class="mask"
                            style="background-color: rgba(253, 253, 253, 0.15)"
                          ></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-6 col-md-5 col-sm-7">
                    <h5>{{v.marque}}</h5>
                    <div class="d-flex flex-row">
                      <span class="text-muted">{{v.type}}</span>
                    </div>

           
                  </div>
                  <div class="col-xl-3 col-md-3 col-sm-5">
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h4 class="mb-1 me-1">{{v.prix}} dt</h4>
            
                    </div>
                    {{v.description}}
                    <div class="mt-4">
                      <button (click)="buy(v)" class="btn btn-primary shadow-0" type="button">
                        Buy this
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
